html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.content-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.map-container {
    flex: 1 1 auto;
}

#mapid {
    height: 100%;
    width: 100%;
}

.info {
    padding: 12px 16px;
    font: 24px/130% Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/* Add a black background color to the top navigation */

.topnav-container {
    flex: 0 1 auto;
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */

.topnav-container a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

.topnav-container a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */

.topnav-container a.active {
    background-color: #04AA6D;
    color: white;
}